/flutter_smart_office_project/android/app/google-services.json
/flutter_smart_office_project/ios/Runner/GoogleService-Info.plist
/flutter_smart_office_project/ios/firebase_app_id_file.json
/flutter_smart_office_project/lib/firebase_options.dart
/flutter_smart_office_project/lib/secrets.dart